{% extends "base/base.html" %}
{% load static %}
{% block title %}Активация резервов{% endblock %}
{% block extra_script %}
    <script src="{% static 'scripts/reserves.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-xxl">
<div class="row">
    {% for reserve in data %}
        {% if not reserve.disposable %}
            <div class="col order-last p-3 ">
                <img src={% static reserve.img %} height="150px" class="rounded mx-auto d-block" >
                <b>{{reserve.name}}:</b>
                {% for obj in reserve.in_stock %}
                    <hr/>
                    <div class="row justify-content-center align-items-center">
                        <div class="col">
                        Уровень: {{ obj.level }}
                        <br>Время действия: {{ obj.action_time }}ч.
                        <br>Осталось на складе: {{ obj.amount }}шт.
                        {% for bv in obj.bonus_values %}
                            <br>+ {{ bv.value }}% {{ bv.battle_type|lower }}
                        {% endfor %}
                        {% if obj.x_level_only %}
                            <br><span class="text-warning">Только для техники X уровня!</span>
                        {% endif %}
                        </div>
                        <div class="row row-centered">
                            {% if obj.active_till %}
                                <button class="btn btn-primary disabled" formmethod="post" value="'type': '{{reserve.type}}', 'level': '{{obj.level}}'">
                                    <div class="timer">
                                        <div class="timer__items">
                                            <span class="timer__item timer__hours">00</span> :
                                            <span class="timer__item timer__minutes">00</span> :
                                            <span class="timer__item timer__seconds">00</span>
                                        </div>
                                    </div>
                                </button>

                            {% else %}
                                <button class="btn btn-primary" formmethod="post" value="'type': '{{reserve.type}}', 'level': '{{obj.level}}'" name="button_{{reserve.type}}_{{obj.level}}" onclick="activate_reserve(type={{reserve.type}}, level={{obj.level}})">
                                    Активировать
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}