{% extends 'base/base.html' %}
{% block title %}Поиск игроков в кланах{% endblock %}
{% load static %}
{% block extra_script %}
    <script src="{% static 'scripts/vue.global.prod.js' %}"></script>
    <script src="{% static 'player/search_busy.js' %}"></script>
{% endblock %}
{% block content %}
    <h1 class="text-center p-5">Поиск игроков в кланах</h1>
    <form class="pt-5" id="search_form" method="post">
        <script>
            const CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        {% csrf_token %}
        <div class="input-group">
            <label for="search" class="col-form-label">Введите ключевые слова:</label>
            <input class="form-control" id="search" name="search" type="text">
            <button class="btn btn-primary" type="submit">Искать</button>
        </div>
    </form>
    {% block table %}
    {% endblock %}
{% endblock %}